@model AgricolaProspectos.Models.Prospecto

@{
    ViewData["Title"] = "Create";
}

<h1>Captura de prospecto</h1>

<hr />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <!-- Datos del prospecto -->
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre*</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerApellido" class="control-label">Primer apellido*</label>
                <input asp-for="PrimerApellido" class="form-control" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoApellido" class="control-label">Segundo apellido</label>
                <input asp-for="SegundoApellido" class="form-control" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label">Calle*</label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label">Número*</label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colonia" class="control-label">Colonia*</label>
                <input asp-for="Colonia" class="form-control" />
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label">Código postal*</label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label">Teléfono*</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rfc" class="control-label">RFC*</label>
                <input asp-for="Rfc" class="form-control" />
                <span asp-validation-for="Rfc" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Capturar" class="btn btn-primary" />
            </div>
            <br>

        </div>

        <!-- Documentos -->
        <div class="col-md-6">
            <div class="form-group">
                <label>Documentos:</label>
                <div id="documentosContainer">
                    <div class="documento-input">
                        <input type="text" name="Documentos[0].NombreDocumento" class="form-control" placeholder="Nombre del documento" required>
                        <input type="file" name="Documentos[0].Archivo" class="form-control" accept=".pdf" required>
                        <br>
                    </div>
                </div>
                <button type="button" class="btn btn-success" id="agregarDocumentoBtn">Agregar Documento</button>
                <span id="leyendaDocumentos" class="text-danger" style="display:none;">Debe llenar al menos un documento.</span>
            </div>
        </div>
    </div>
</form>

<div>
    <a id="regresarLink" href="/Prospectos/Index">Regresar</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            var documentosContainer = $("#documentosContainer");
            var agregarDocumentoBtn = $("#agregarDocumentoBtn");
            var documentoCount = 1;

            // Se hace la lógica para agregar nuevo formulario de documento al pulsar el botón de agregar.
            agregarDocumentoBtn.click(function () {
                var documentoInput = '<div class="documento-input">' +
                    '<input type="text" name="Documentos[' + documentosContainer.children().length + '].NombreDocumento" class="form-control" placeholder="Nombre del documento" required>' +
                    '<input type="file" name="Documentos[' + documentosContainer.children().length + '].Archivo" class="form-control" accept=".pdf" required>' +
                    '<br></div>';
                documentosContainer.append(documentoInput);
            });

            // Se muestra la confirmación antes de regresar.
            $("#regresarLink").click(function (e) {
                e.preventDefault();

                if (confirm("¿Estás seguro de que deseas regresar? Se perderán todos los datos capturados.")) {
                    window.location.href = $(this).attr("href");
                }
            });

            $("form").submit(function () {
                if (documentoCount === 1) {
                    $("#leyendaDocumentos").show();
                } else {
                    $("#leyendaDocumentos").hide();
                }
                return true;
            });


        });
    </script>
}
